<div class="row">
    <div class="col-md-12">
	<h2>Twoja Szkoła</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2 biking_picture hidden-xs">
	<a ng-href="{{ currentLinkToBikingPicture || '#' }}" id="a_biking_picture_link">
	    <img alt="Obrazek Twoja Szkola" id="a_biking_picture" ng-src="{{currentBikingPicture || '/img/p1.jpg' }}" style="height:120px; border:1px solid #003366;" />
	</a>
    </div>

    <div class="col-md-9 col-lg-10">
	<p>To jest strona twojej szkoły. Tak zamieszczamy link <a href="http://dailyfratze.de/michael">dailyfraze.de</a> Więcej zdjęć można zobaczyć w <a href="/gallery">gallery</a>.</p>
	<p>A w taki sposób tworzymy link obrazkowy:</p>
	<p>
	    <a href="http://www.oracle.com/technetwork/java/index.html"><img src="/img/duke.png" class="giant" alt="Java" title="Java"/></a>&#160;
	    <a href="http://projects.spring.io/spring-framework/"><img src="/img/spring-logo.png" class="giant" alt="Spring Framework" title="Spring Framework"/></a>&#160;
	    <a href="http://projects.spring.io/spring-boot/"><img src="/img/spring-boot-logo.png" class="giant" alt="Spring Boot" title="Spring Boot"/></a>&#160;
	    <a href="http://arc42.de"><img src="/img/arc42-logo.png" class="giant" alt="arc42" title="arc42"/></a>
	</p>
	<p>Więcej o dokumentacji architektonicznej strony będącej podbudową tej strony: <a target="_self" href="/docs/index.html">biking2, Architecture and API</a>.</p>
    </div>
</div>

